# Archivos y carpetas de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

# Ignore estándar de bin, pero NO ignores el archivo XML
bin/
!bin/**/*.xml

# Ignora también los archivos .user y demás temporales
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Paquetes descargados (pueden regenerarse)
Packages/com.unity.package-manager-ui

# Archivos generados por Rider
.idea/
*.sln.iml
